<section id="about-sec" class="content-section">
	<div class="container customScroll">
        <ul>
        	<li>
                <p class="cv-tittle"><strong>Employment Status:</strong></p>
                <p class="cv-info">- Freelance</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Education:</strong></p>
                <p class="cv-info">- Associate's degree, Web-developtment | Cenfotec</p>
                <p class="cv-info">- Associate's degree, Interaction Design | Universidad Veritas</p>
                <p class="cv-info">- Associate of Arts (A.A.), Advertising | Universidad Latina de Costa Rica</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Work Experience:</strong></p>
                <p class="cv-info">-  Advertising Consultant: Colegio Federado de Ingenieros y Arquitectos (CFIA) / 4 months - 2012</p>
                <p class="cv-info">-  Web Designer &amp; Developer: Colegio Federado de Ingenieros y Arquitectos (CFIA) / 1 year - Jan 2015 - Feb 2016</p>
                <p class="cv-info">- Freelancer: Various / 2 years - present</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Extras:</strong></p>
                <p class="cv-info">- Friendly Personality.</p>
                <p class="cv-info">- Strong command of English and Spanish, both written and verbal.</p>
                <p class="cv-info">- Constantly self-educating.</p>
                <p class="cv-info">- Fast learner.</p>
            </li>
        </ul>
        <section id="tools">
            <h3>Tools:</h3>
            <ul>
                <li>
                    <p class="cv-info"><span class="devicons devicons-html5"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-css3"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-sass"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-javascript_badge"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-jquery"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-angular"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-react"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-backbone"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-nodejs_small"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-gulp"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-git"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-github_badge"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-php"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-mysql"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-firebase"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-mongodb"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-drupal"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-codepen"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-illustrator"></span></p>
                </li>
                <li>
                    <p class="cv-info"><span class="devicons devicons-photoshop"></span></p>
                </li>
            </ul>
        </section>
	</div>
</section>