<section id="about-sec" class="content-section">
	<div class="container customScroll">
        <ul>
        	<li>
                <p class="cv-tittle"><strong>Employment Status:</strong></p>
                <p class="cv-info">- Freelance</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Education:</strong></p>
                <p class="cv-info">- Associate's degree, Web-developtment | Cenfotec</p>
                <p class="cv-info">- Associate's degree, Interaction Design | Universidad Veritas</p>
                <p class="cv-info">- Associate of Arts (A.A.), Advertising | Universidad Latina de Costa Rica</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Work Experience:</strong></p>
                <p class="cv-info">-  Advertising Consultant: Colegio Federado de Ingenieros y Arquitectos (CFIA) / 4 months - 2012</p>
                <p class="cv-info">-  Web Designer &amp; Developer: Colegio Federado de Ingenieros y Arquitectos (CFIA) / 1 year - Jan 2015 - Feb 2016</p>
                <p class="cv-info">Freelancer: Various / 2 years - present</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Extras:</strong></p>
                <p class="cv-info">- Friendly Personality.</p>
                <p class="cv-info">- Strong command of English and Spanish, both written and verbal.</p>
                <p class="cv-info">- Constantly self-educating.</p>
                <p class="cv-info">- Fast learner.</p>
            </li>
            <li>
                <p class="cv-tittle"><strong>Skills:</strong></p>
                <p class="cv-info"><span class="devicons devicons-javascript_badge"></span></p>
                <p class="cv-info"><span class="devicons devicons-angular"></span></p>
            </li>
        </ul>
	</div>
</section>