<section id="contact-sec" class="content-section">
	<div class="container">
		<h2>Contact<span class="colored-text">.</span></h2>
		<div id="cForm" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form action="https://formspree.io/itscae@gmail.com" method="post">
                <div class="control-group cf">
                    <label for="name">Name:</label>
                    <input type="text" class="text col-md-12 col-lg-12 col-sm-12 col-xs-12" name="name" id="nameField" placeholder=""/>
                </div>
                <div class="control-group cf">
                    <label for="email">Email:</label>
                    <input type="text" class="text col-md-12 col-lg-12 col-sm-12 col-xs-12" name="email" id="mailField" placeholder=""/>
                </div>
                 <div class="control-group cf">
                    <label for="message">Message:</label>
                    <textarea rows="4" cols="28" class="text" name="message" id="subjectField" placeholder=""/>
                </div>
                <input type="hidden" name="_next" value="//javierescalante.info" />
                <input name="submit" type="submit" rows="3" class="btn1" id="submit" value="Send Message">
            </form>
        </div>
        <div id="thanksMsj">
            <h3 class="secTitle">Thanks, I'll get back to you soon!</h3>
        </div>
	</div>	
</section>