<section id="contact-sec" class="content-section">
	<div class="container">
		<h2>Contact<span class="colored-text">.</span></h2>
        <div class="sIcons">
            <ul>
                <li class="">
                    <a href="https://github.com/itsca"><i class="fa fa-github" id=""></i></a>
                </li>
                <li class="">
                    <a href="http://codepen.io/Itsca/"><i class="fa fa-codepen" id=""></i></a>
                </li>
                <li class="">
                    <a href="https://www.facebook.com/javier.escalantealfaro"><i class="fa fa-facebook" id=""></i></a>
                </li>
                <li class="">
                    <a href="http://instagram.com/javier.escalantealfaro/"><i class="fa fa-instagram" id=""></i></a>
                </li>
                <li class="">
                    <a href="http://www.pinterest.com/jitsca/"><i class="fa fa-pinterest" id=""></i></a>
                </li>
                <div class="cf"></div>
            </ul>
            <div class="cf"></div>
        </div>
		<div id="cForm" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form>
                <div class="control-group cf">
                    <label for="name">Name:</label>
                    <input type="text" class="text" name="name" id="nameField" placeholder=""/>
                </div>
                <div class="control-group cf">
                    <label for="email">Email:</label>
                    <input type="text" class="text" name="email" id="mailField" placeholder=""/>
                </div>
                 <div class="control-group cf">
                    <label for="message">Message:</label>
                    <textarea rows="4" cols="28" class="text" name="message" id="subjectField" placeholder=""/>
                </div>
                <!--<input type="hidden" name="_next" value="//javierescalante.info/#/contact#FormSubmittedCorrectly:)" />-->
                <input name="submit" type="button" rows="3" class="btn1" id="submit" value="Send Message" ng-click="sendCForm()">
            </form>
        </div>
        <div id="form-submitted-correctly">
            <div class="container">
                <h2>Thanks,</h2>
                <h3>I'll get back to you soon!</h3>
                <button id="" class="btn1" ng-click="closeCModal()">Back to site.</button>
            </div>
        </div>
	</div>	
</section>