<section id="landing-sec" class="content-section">
	<div class="container">
		<div id="welcome-section">
			<div id="welcome-img">
				<img src="http://javierescalante.info/img/myFace-3.gif" alt="">
			</div>
			<div class="welcome-text">
				<div class="container">
					<h1>Welcome to my site<span class="colored-text">.</span></h1>
					<p id="welcome-text">My name is Javier I’m a web developer/designer from Costa Rica with additional advertising and marketing education, I’m proactive and motivated towards my job, very fast learner and overall geek.</p>
					<div class="sIcons">
					    <ul>
					        <li class="">
					            <a href="https://github.com/itsca"><i class="fa fa-github" id=""></i></a>
					        </li>
					        <li class="">
					            <a href="http://codepen.io/Itsca/"><i class="fa fa-codepen" id=""></i></a>
					        </li>
					        <li class="">
					            <a href="https://www.facebook.com/javier.escalantealfaro"><i class="fa fa-facebook" id=""></i></a>
					        </li>
					        <li class="">
					            <a href="http://instagram.com/javier.escalantealfaro/"><i class="fa fa-instagram" id=""></i></a>
					        </li>
					        <li class="">
					            <a href="http://www.pinterest.com/jitsca/"><i class="fa fa-pinterest" id=""></i></a>
					        </li>
					        <div class="cf"></div>
					    </ul>
					    <div class="cf"></div>
					</div>
					<p class="quote">“A single chance is a galaxy of hope.”</p>
					<p class="quote">-Star Wars</p>
				</div>
			</div>
			<div class="cf"></div>
		</div>
		<div id="skills-section">
			<h2>Skills<span class="colored-text">.</span></h2>
			<div id="skills">
				<!--<div class="skill">
					<h3><span>Frontend Development</span></h3>
					<ul>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-html5"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-css3"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-sass"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-angular"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-react"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-backbone"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-drupal"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-codepen"></span></p>
		                </li>
		            </ul>
				</div>
				<div class="skill">
					<h3><span>Web Development</span></h3>
					<ul>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-javascript_badge"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-jquery"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-nodejs_small"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-gulp"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-git"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-github_badge"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-php"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-mysql"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-firebase"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-mongodb"></span></p>
		                </li>
		            </ul>
				</div>
				<div class="skill">
					<h3><span>UX/UI Design</span></h3>
					<ul>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-illustrator"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-photoshop"></span></p>
		                </li>
		            </ul>
				</div>-->
				<div class="skill">
					<ul>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-html5"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-css3"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-sass"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-javascript_badge"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-jquery"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-angular"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-react"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-backbone"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-nodejs_small"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-gulp"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-git"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-github_badge"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-php"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-mysql"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-firebase"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-mongodb"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-drupal"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-codepen"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-illustrator"></span></p>
		                </li>
		                <li>
		                    <p class="cv-info"><span class="devicons devicons-photoshop"></span></p>
		                </li>
		            </ul>
				</div>
			</div>
		</div>
		<div id="experience-section">
			<h2>Experience<span class="colored-text">.</span></h2>
			<div class="position">
				<div class="top">
					<h3>Founder & Developer</h3>
					<p class="date">Oct 2016 - present</p>
					<div class="cf"></div>
				</div>
				<h4>Bosco Studio</h4>
				<p>I co-founded a web development and marketing company to be able to tackle projects with a bigger scope that require a bigger team, we've created websites, phone apps and print products for several clients, take a look at <a href="http://bosco-studio.com/">our website</a>.</p>
			</div>
			<div class="position">
				<div class="top">
					<h3>Web Developer &amp; Designer</h3>
					<p class="date">2014 - present</p>
					<div class="cf"></div>
				</div>
				<h4>Freelancer - Various</h4>
				<p>I’ve been working as a freelancer since I started as a web developer, I’ve been lucky enough to work on projects of all sizes from simple landing pages to mobile and web apps, both alone and as part of work teams, <a href="#portfolio">check them out.</a></p>
			</div>
			<div class="position">
				<div class="top">
					<h3>Web Developer &amp; Designer</h3>
					<p class="date">Jan 2015 - Feb 2016</p>
					<div class="cf"></div>
				</div>
				<h4>Colegio Federado de Ingenieros y Arquitectos (CFIA)</h4>
				<p>I worked at CFIA, the national entity in charge of regulating all architecture and engineering projects nationwide as an in house web developer for a year, I was in charge of their main website, and 2 sub sites and collaborated on the prototyping and implementation of the UI in several internal services like APC municipal.</p>
			</div>
			<div class="position">
				<div class="top">
					<h3>Advertising Consultant</h3>
					<p class="date">Jul - Oct 2012</p>
					<div class="cf"></div>
				</div>
				<h4>Colegio Federado de Ingenieros y Arquitectos (CFIA)</h4>
				<p>I also worked at CFIA as an advertising consultant for UPADI (Unión Panamericana de Asociaciones de Ingeniería) a few years ago, I was tasked with the creation of an online marketing campaign for the web platform of the institution.</p>
			</div>
		</div>
		<div id="follow-section">
			<ul>
				<li><a id="workBtn" class="btn1" href="#portfolio">My Work</a></li>
				<li><a id="contactBtn" class="btn1" href="#contact">Let's talk</a></li>
			</ul>
		</div>
	</div>
</section>