// _modules.scss
// ============

//Header
// ============
@include keyframes("dash") {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0;}
}
@include keyframes("shrink") {
  100% { height: 100px;}
}
@include keyframes("apear") {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
@include keyframes("fade-back") {
  0% { opacity: 1; }
  100% { opacity: 0.85;}
}
#main-head {
	width: 100%;
	margin-bottom: 5em;
	#logo-container {
		width: 100%;
		#Layer_1 {
			width: 100%;
			height: 100vh;
			stroke-dasharray: 1000;
		  	stroke-dashoffset: 1000;
		  	transition: all 4s;
		  	@include animation('dash 20s forwards, shrink 2.5s 1s forwards');
		}
	}
	#main-nav {
		padding-top: 1em;
		@include animation('apear 9s forwards');
		ul{
			//border:1px solid #ccc;
		    list-style:none;
		    margin:0;
		    padding:0;
		    text-align:center;
			li {
				display:inline;
				a {
					font-family: $headFont;
					font-weight: bolder;
					font-size: 1em;
					display:inline-block;
    				padding:10px 15px;
					color: $fontcolor1;
					text-decoration: none;
					border-bottom: 3px solid transparent;
					transition: all 1s;
					&:focus, &:active, &:visited {
						color: $fontcolor1;
						text-decoration: none;
					}
					&.active {
						/*-webkit-box-shadow: -7px 10px 0px 0px $aboutcolor2;
						-moz-box-shadow: -7px 10px 0px 0px $aboutcolor2;
						box-shadow: -7px 10px 0px 0px $aboutcolor2;*/
					}
					@media (max-width: $mainBreakPoint) {
						font-size: 0.8em;
					}
				}
				#about-link {
					&.active {
						background: $aboutcolor1;
						color: #fff;
					}
					&:hover {
						border-bottom: 3px solid $aboutcolor1;
					}
				}
				#portfolio-link {
					&.active {
						background: $portfoliocolor1;
						color: $portfoliocolor2;
					}
					&:hover {
						border-bottom: 3px solid $portfoliocolor1;
					}
				}
				#hire-link {
					&.active {
						background: $hirecolor2;
						color: #FFF;
					}
					&:hover {
						border-bottom: 3px solid $hirecolor2;
					}
				}
			}
		}
	}
}

//Content Section
// ============
.content-section {
	opacity: 0;
	@include animation('apear 3s 0.5s forwards');
	//text-align: center;
	font-family: $bodyFont;
	font-weight: 800;
	color: #fff;
	.container {
		position: relative;
		width: 80%;
	}
	#welcome-text {
		line-height: 1.4em;
	}
}

//Buttons
// ============
.btn1 {
	font-family: $bodyFont;
	font-weight: 800;
	color: $fontcolor1;
	background-color: #efefef;
	padding: 0.5em;
}