@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro";
body {
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s;
}
body.body-hidden {
  overflow: hidden;
}

.cf {
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#main-color-back {
  position: fixed;
  z-index: -1;
  background: #ad6e66;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ad6e66 1%, #19203f 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ad6e66 1%, #19203f 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ad6e66 1%, #19203f 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: #231F20;
  background: #fff;
  height: 100vh;
  width: 100%;
  -webkit-animation: fade-back 5s forwards;
  -moz-animation: fade-back 5s forwards;
  -ms-animation: fade-back 5s forwards;
  animation: fade-back 5s forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes shrink {
  100% {
    height: 100px;
  }
}
@-moz-keyframes shrink {
  100% {
    height: 100px;
  }
}
@-ms-keyframes shrink {
  100% {
    height: 100px;
  }
}
@keyframes shrink {
  100% {
    height: 100px;
  }
}
@-webkit-keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
@-moz-keyframes fade-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
@-ms-keyframes fade-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
@keyframes fade-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
#main-head {
  width: 100%;
  margin-bottom: 5em;
}
#main-head #logo-container {
  width: 100%;
}
#main-head #logo-container #Layer_1 {
  width: 100%;
  height: 100vh;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: height 4s;
  -webkit-animation: dash 20s forwards, shrink 2.5s 1s forwards;
  -moz-animation: dash 20s forwards, shrink 2.5s 1s forwards;
  -ms-animation: dash 20s forwards, shrink 2.5s 1s forwards;
  animation: dash 20s forwards, shrink 2.5s 1s forwards;
}
#main-head #main-nav {
  padding-top: 1em;
  -webkit-animation: apear 9s forwards;
  -moz-animation: apear 9s forwards;
  -ms-animation: apear 9s forwards;
  animation: apear 9s forwards;
}
#main-head #main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main-head #main-nav ul li {
  display: inline;
}
#main-head #main-nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 1em;
  display: inline-block;
  padding: 10px 15px;
  color: #082639;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 1s;
}
#main-head #main-nav ul li a:focus, #main-head #main-nav ul li a:active, #main-head #main-nav ul li a:visited {
  color: #082639;
  text-decoration: none;
}
#main-head #main-nav ul li a.active {
  /*-webkit-box-shadow: -7px 10px 0px 0px $aboutcolor2;
  -moz-box-shadow: -7px 10px 0px 0px $aboutcolor2;
  box-shadow: -7px 10px 0px 0px $aboutcolor2;*/
}
@media (max-width: 850px) {
  #main-head #main-nav ul li a {
    font-size: 0.6em;
  }
}
#main-head #main-nav ul li #about-link.active {
  background: #3333ff;
  color: #fff;
}
#main-head #main-nav ul li #about-link:hover {
  border-bottom: 3px solid #3333ff;
}
#main-head #main-nav ul li #portfolio-link.active {
  background: #0AE485;
  color: #fff;
}
#main-head #main-nav ul li #portfolio-link:hover {
  border-bottom: 3px solid #0AE485;
}
#main-head #main-nav ul li #hire-link.active {
  background: #e40a4f;
  color: #FFF;
}
#main-head #main-nav ul li #hire-link:hover {
  border-bottom: 3px solid #e40a4f;
}
#main-head.header--open {
  height: 165px;
  /*#logo-container {
  	width: 10%;
  }*/
}
#main-head.header--open .container {
  position: fixed;
  background-color: #FFF;
  z-index: 1;
  width: 100%;
}
#main-head.header--open #Layer_1 {
  width: 20% !important;
}
#main-head.header--open #main-nav {
  padding-top: 2em;
  width: 80%;
  max-width: 500px;
  float: right;
}
@media (max-width: 850px) {
  #main-head.header--open #main-nav ul li a {
    font-size: 0.6em;
  }
}

.sIcons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sIcons ul li {
  display: inline;
}
.sIcons ul li a {
  display: inline-block;
  margin: 0.3em auto;
  font-size: 1.5em;
  padding: 10px 15px;
  color: #082639;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 1s;
  /*&:hover {
  	border-bottom: 1px solid $aboutcolor2;
  }
  &:focus, &:active, &:visited {
  	color: $aboutcolor2;
  	text-decoration: none;
  }
  &:active {
  	border-bottom: 1px solid $aboutcolor2;
  }*/
}

.content-section {
  opacity: 0;
  -webkit-animation: apear 3s 0.5s forwards;
  -moz-animation: apear 3s 0.5s forwards;
  -ms-animation: apear 3s 0.5s forwards;
  animation: apear 3s 0.5s forwards;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  color: #fff;
}
.content-section .container {
  position: relative;
  width: 80%;
}
.content-section #welcome-text {
  line-height: 1.4em;
}

.btn1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  color: #082639;
  background-color: #efefef;
  padding: 0.5em;
}

/* perfect-scrollbar v0.6.11 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: transparent;
  opacity: .9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #fff;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent;
  opacity: .9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #fff;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 3px;
  height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: 0;
  height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 3px;
  width: 2px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  right: 0;
  width: 2px;
}

.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: transparent;
  opacity: .9;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #fff;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent;
  opacity: .9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #fff;
}

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: .6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: transparent;
  opacity: .9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #fff;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent;
  opacity: .9;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #fff;
}

#landing-sec {
  opacity: 0;
}
#landing-sec h2 {
  font-size: 2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 2em;
}
#landing-sec #welcome-section {
  margin-bottom: 8em;
}
#landing-sec #welcome-section #welcome-img {
  width: 45%;
  float: right;
  padding: 10px;
}
#landing-sec #welcome-section #welcome-img img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: block;
}
@media (max-width: 850px) {
  #landing-sec #welcome-section #welcome-img {
    width: 100%;
  }
}
#landing-sec #welcome-section .welcome-text {
  width: 50%;
  float: right;
  padding: 0 1%;
  color: #333;
  font-weight: 300;
  /*background: #e40a4f;*/
  /*-webkit-box-shadow: -7px 10px 0px 0px #1F2348;
  -moz-box-shadow: -7px 10px 0px 0px #1F2348;
  box-shadow: -7px 10px 0px 0px #1F2348;*/
}
#landing-sec #welcome-section .welcome-text h1 {
  font-size: 2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 0.5em 0;
}
#landing-sec #welcome-section .welcome-text .quote {
  text-align: center;
}
@media (max-width: 850px) {
  #landing-sec #welcome-section .welcome-text {
    width: 100%;
  }
}
#landing-sec #skills-section {
  margin-bottom: 8em;
}
#landing-sec #skills-section h3 {
  font-size: 1.2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
}
#landing-sec #skills-section h3 span {
  padding-bottom: 0.2em;
  border-bottom: 4px solid #3333ff;
}
#landing-sec #skills-section #skills .skill {
  margin-bottom: 2em;
}
#landing-sec #skills-section #skills .skill ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#landing-sec #skills-section #skills .skill ul li {
  display: inline;
}
#landing-sec #skills-section #skills .skill ul li p {
  display: inline-block;
  margin: 0.3em auto;
  font-size: 2.5em;
  padding: 10px 15px;
  color: #082639;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 1s;
  /*&:hover {
  	border-bottom: 1px solid $aboutcolor2;
  }
  &:focus, &:active, &:visited {
  	color: $aboutcolor2;
  	text-decoration: none;
  }
  &:active {
  	border-bottom: 1px solid $aboutcolor2;
  }*/
}
#landing-sec #experience-section {
  margin-bottom: 8em;
}
#landing-sec #experience-section .position {
  margin-bottom: 3em;
}
#landing-sec #experience-section .position h3 {
  font-size: 1.2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 0.5em 0;
  float: left;
}
#landing-sec #experience-section .position h4 {
  font-size: 1em;
  font-style: italic;
  color: #3333ff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 1em 0;
}
#landing-sec #experience-section .position p {
  font-size: 1em;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  margin: 0 0 1em 0;
}
#landing-sec #experience-section .position .date {
  float: right;
}
#landing-sec #follow-section {
  margin-bottom: 8em;
}
#landing-sec #follow-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#landing-sec #follow-section ul li {
  display: inline;
  padding: 0 1em;
}
#landing-sec #follow-section ul li a {
  display: inline-block;
  margin: 0.3em auto;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s;
}
#landing-sec #follow-section ul li a:hover {
  color: #fff;
}
#landing-sec #follow-section #workBtn:hover {
  background-color: #0AE485;
}
#landing-sec #follow-section #contactBtn:hover {
  background-color: #e40a4f;
}
#landing-sec .colored-text {
  color: #3333ff;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 0.5em;
}

#about-sec ul {
  list-style: none;
  padding: 0 0 0 0;
  text-align: left;
}
#about-sec ul li {
  margin-bottom: 2em;
}
#about-sec ul li .cv-tittle {
  font-size: 1.3em;
}
#about-sec .container {
  padding: 0px 15px;
  background: #3333ff;
  color: #1F2348;
  -webkit-box-shadow: -7px 10px 0px 0px #1F2348;
  -moz-box-shadow: -7px 10px 0px 0px #1F2348;
  box-shadow: -7px 10px 0px 0px #1F2348;
}
#about-sec #tools h3 {
  text-align: center;
  font-weight: bold;
  color: #1F2348;
  font-size: 1.3em;
}
#about-sec #tools ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#about-sec #tools ul li {
  display: inline;
}
#about-sec #tools ul li p {
  display: inline-block;
  margin: 0.3em auto;
  font-size: 3em;
  padding: 10px 15px;
  color: #1F2348;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 1s;
  /*&:hover {
  	border-bottom: 1px solid $aboutcolor2;
  }
  &:focus, &:active, &:visited {
  	color: $aboutcolor2;
  	text-decoration: none;
  }
  &:active {
  	border-bottom: 1px solid $aboutcolor2;
  }*/
}

#portfolio-sec h1 {
  font-size: 2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0 0 0 0;
}
#portfolio-sec .portfolio-top {
  padding: 1em 0;
}
#portfolio-sec #filter-nav {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}
#portfolio-sec #filter-nav li {
  display: inline;
}
#portfolio-sec #filter-nav li span {
  display: inline-block;
  padding: 10px 15px;
  color: #082639;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}
#portfolio-sec #filter-nav li span:hover {
  /*background-color: $portfoliocolor1;
  color: $portfoliocolor2;*/
}
#portfolio-sec #filter-nav .active {
  border-bottom: 2px solid #0AE485;
}
#portfolio-sec #portfolio-wrap {
  transition: all 0.2s;
  text-align: center;
}
#portfolio-sec #portfolio-wrap #loader-icon {
  color: #0AE485;
  width: 100%;
  margin: 1em 0;
}
#portfolio-sec #portfolio-wrap .mix {
  display: none;
  width: 45%;
  padding: 15px;
  margin: 0 0 4em 0;
  cursor: pointer;
  float: left;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.3s, left 0.4s 0.3s;
}
#portfolio-sec #portfolio-wrap .mix h2 {
  color: #082639;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1em;
}
#portfolio-sec #portfolio-wrap .mix h3, #portfolio-sec #portfolio-wrap .mix h4 {
  color: #666;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 0.9em;
  margin: 0 0 0.5em 0;
}
#portfolio-sec #portfolio-wrap .mix .container {
  width: 100%;
}
#portfolio-sec #portfolio-wrap .mix .img-wrapper {
  width: 100%;
  height: 15em;
  display: block;
  max-height: 400px;
  overflow: hidden;
}
#portfolio-sec #portfolio-wrap .mix .img-wrapper:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: -100%;
  opacity: 0.3;
}
#portfolio-sec #portfolio-wrap .mix .item-img {
  background: #0AE485;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#portfolio-sec #portfolio-wrap .mix:hover .item-img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
#portfolio-sec #portfolio-wrap .mix.open {
  display: block;
  position: fixed;
  float: none;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 2;
  background: rgba(10, 10, 10, 0.8);
}
#portfolio-sec #portfolio-wrap .mix.open .container {
  width: 80%;
  background-color: #FFF;
}
@media (max-width: 850px) {
  #portfolio-sec #portfolio-wrap .mix {
    width: 100%;
  }
}
#portfolio-sec #portfolio-modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  	/*.portfolio-modal-img {
  		background-image: url(https://images.unsplash.com/photo-1495141929506-f34c93658f5d?dpr=1&auto=compress,format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=&bg=);
      	width: 100%;
      	height: 400px;
      	clip-path: url("../images/clip-shape.svg#clipPath1");
      	-webkit-clip-path: url("../images/clip-shape.svg#clipPath1");
      	-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  	}*/
}
#portfolio-sec #portfolio-modal #portfolio-modal-content {
  padding: 1em 0;
  background: #FFF;
  color: #082639;
  text-align: left;
  transition: all 0.5s;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content h2 {
  font-size: 3.5em;
  margin: 0.2em 0;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content h3, #portfolio-sec #portfolio-modal #portfolio-modal-content h4 {
  font-size: 1.2em;
  color: #666;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 0.2em 0;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content h4 {
  margin: 0 0 3em 0;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content .copy {
  font-size: 1.2em;
  color: #333;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 0 0;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content img {
  max-width: 80%;
  display: block;
  margin: 0 auto 2em;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content .portfolio-modal-closer {
  margin: 0;
  font-size: 1.5em;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content #view-site-btn {
  display: inline-block;
  margin: 2em auto;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.5s;
}
#portfolio-sec #portfolio-modal #portfolio-modal-content #view-site-btn:hover {
  color: #fff;
  background-color: #0AE485;
}
#portfolio-sec .colored-text {
  color: #0AE485;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 0.5em;
}

#contact-sec {
  /*End Contact*/
}
#contact-sec .container {
  width: 50%;
}
@media (max-width: 850px) {
  #contact-sec .container {
    width: 90%;
  }
}
#contact-sec h2 {
  font-size: 2em;
  color: #082639;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
#contact-sec #cForm {
  margin: 0 auto;
  margin-bottom: 5%;
  color: #082639;
  position: relative;
}
#contact-sec .control-group {
  margin-bottom: 0.7em;
}
#contact-sec .control-group label {
  display: block;
  margin: 0 30px 10px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
}
#contact-sec .control-group .text {
  width: 80%;
  margin-bottom: 3%;
  padding: 0.5%;
  background-color: transparent;
  height: 2em;
  border: 1px solid #082639;
  color: #555;
  font-size: 1.1em;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#contact-sec .control-group .text:active, #contact-sec .control-group .text:focus, #contact-sec .control-group .text:hover {
  height: 2.5em;
  outline: none;
}
#contact-sec .control-group #subjectField {
  width: 100%;
}
#contact-sec .btn1 {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.1em;
}
#contact-sec .btn1:hover, #contact-sec .btn1:active {
  border: none;
  background-color: #e40a4f;
  color: #FFF;
  text-decoration: none;
}
#contact-sec #thanksMsj {
  display: none;
}
#contact-sec .sIcons {
  margin-bottom: 2em;
}
#contact-sec .sIcons ul {
  text-align: left;
}
#contact-sec #form-submitted-correctly {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 2em;
  z-index: 1;
  text-align: center;
  color: #082639;
}
#contact-sec #form-submitted-correctly.open {
  display: block;
}
#contact-sec #form-submitted-correctly .container {
  background-color: #FFF;
  padding: 5%;
}
#contact-sec #form-submitted-correctly #submitted-correctly-closer {
  display: block;
  padding: 2% 1%;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  background: transparent;
}
#contact-sec #form-submitted-correctly #submitted-correctly-closer:hover {
  background-color: #fff;
  color: #e40a4f;
}
#contact-sec .colored-text {
  color: #e40a4f;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 0.5em;
}

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com 
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons/devicons.eot?xqxft6");
  src: url("../fonts/devicons/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.devicons {
  font-family: 'devicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicons-git:before {
  content: "";
}

.devicons-git_compare:before {
  content: "";
}

.devicons-git_branch:before {
  content: "";
}

.devicons-git_commit:before {
  content: "";
}

.devicons-git_pull_request:before {
  content: "";
}

.devicons-git_merge:before {
  content: "";
}

.devicons-bitbucket:before {
  content: "";
}

.devicons-github_alt:before {
  content: "";
}

.devicons-github_badge:before {
  content: "";
}

.devicons-github:before {
  content: "";
}

.devicons-github_full:before {
  content: "";
}

.devicons-java:before {
  content: "";
}

.devicons-ruby:before {
  content: "";
}

.devicons-scala:before {
  content: "";
}

.devicons-python:before {
  content: "";
}

.devicons-go:before {
  content: "";
}

.devicons-ruby_on_rails:before {
  content: "";
}

.devicons-django:before {
  content: "";
}

.devicons-markdown:before {
  content: "";
}

.devicons-php:before {
  content: "";
}

.devicons-mysql:before {
  content: "";
}

.devicons-streamline:before {
  content: "";
}

.devicons-database:before {
  content: "";
}

.devicons-laravel:before {
  content: "";
}

.devicons-javascript:before {
  content: "";
}

.devicons-angular:before {
  content: "";
}

.devicons-backbone:before {
  content: "";
}

.devicons-coffeescript:before {
  content: "";
}

.devicons-jquery:before {
  content: "";
}

.devicons-modernizr:before {
  content: "";
}

.devicons-jquery_ui:before {
  content: "";
}

.devicons-ember:before {
  content: "";
}

.devicons-dojo:before {
  content: "";
}

.devicons-nodejs:before {
  content: "";
}

.devicons-nodejs_small:before {
  content: "";
}

.devicons-javascript_shield:before {
  content: "";
}

.devicons-bootstrap:before {
  content: "";
}

.devicons-sass:before {
  content: "";
}

.devicons-css3_full:before {
  content: "";
}

.devicons-css3:before {
  content: "";
}

.devicons-html5:before {
  content: "";
}

.devicons-html5_multimedia:before {
  content: "";
}

.devicons-html5_device_access:before {
  content: "";
}

.devicons-html5_3d_effects:before {
  content: "";
}

.devicons-html5_connectivity:before {
  content: "";
}

.devicons-ghost_small:before {
  content: "";
}

.devicons-ghost:before {
  content: "";
}

.devicons-magento:before {
  content: "";
}

.devicons-joomla:before {
  content: "";
}

.devicons-jekyll_small:before {
  content: "";
}

.devicons-drupal:before {
  content: "";
}

.devicons-wordpress:before {
  content: "";
}

.devicons-grunt:before {
  content: "";
}

.devicons-bower:before {
  content: "";
}

.devicons-npm:before {
  content: "";
}

.devicons-yahoo_small:before {
  content: "";
}

.devicons-yahoo:before {
  content: "";
}

.devicons-bing_small:before {
  content: "";
}

.devicons-windows:before {
  content: "";
}

.devicons-linux:before {
  content: "";
}

.devicons-ubuntu:before {
  content: "";
}

.devicons-android:before {
  content: "";
}

.devicons-apple:before {
  content: "";
}

.devicons-appstore:before {
  content: "";
}

.devicons-phonegap:before {
  content: "";
}

.devicons-blackberry:before {
  content: "";
}

.devicons-stackoverflow:before {
  content: "";
}

.devicons-techcrunch:before {
  content: "";
}

.devicons-codrops:before {
  content: "";
}

.devicons-css_tricks:before {
  content: "";
}

.devicons-smashing_magazine:before {
  content: "";
}

.devicons-netmagazine:before {
  content: "";
}

.devicons-codepen:before {
  content: "";
}

.devicons-cssdeck:before {
  content: "";
}

.devicons-hackernews:before {
  content: "";
}

.devicons-dropbox:before {
  content: "";
}

.devicons-google_drive:before {
  content: "";
}

.devicons-visualstudio:before {
  content: "";
}

.devicons-unity_small:before {
  content: "";
}

.devicons-raspberry_pi:before {
  content: "";
}

.devicons-chrome:before {
  content: "";
}

.devicons-ie:before {
  content: "";
}

.devicons-firefox:before {
  content: "";
}

.devicons-opera:before {
  content: "";
}

.devicons-safari:before {
  content: "";
}

.devicons-swift:before {
  content: "";
}

.devicons-symfony:before {
  content: "";
}

.devicons-symfony_badge:before {
  content: "";
}

.devicons-less:before {
  content: "";
}

.devicons-stylus:before {
  content: "";
}

.devicons-trello:before {
  content: "";
}

.devicons-atlassian:before {
  content: "";
}

.devicons-jira:before {
  content: "";
}

.devicons-envato:before {
  content: "";
}

.devicons-snap_svg:before {
  content: "";
}

.devicons-raphael:before {
  content: "";
}

.devicons-google_analytics:before {
  content: "";
}

.devicons-compass:before {
  content: "";
}

.devicons-onedrive:before {
  content: "";
}

.devicons-gulp:before {
  content: "";
}

.devicons-atom:before {
  content: "";
}

.devicons-cisco:before {
  content: "";
}

.devicons-nancy:before {
  content: "";
}

.devicons-clojure:before {
  content: "";
}

.devicons-clojure_alt:before {
  content: "";
}

.devicons-perl:before {
  content: "";
}

.devicons-celluloid:before {
  content: "";
}

.devicons-w3c:before {
  content: "";
}

.devicons-redis:before {
  content: "";
}

.devicons-postgresql:before {
  content: "";
}

.devicons-webplatform:before {
  content: "";
}

.devicons-jenkins:before {
  content: "";
}

.devicons-requirejs:before {
  content: "";
}

.devicons-opensource:before {
  content: "";
}

.devicons-typo3:before {
  content: "";
}

.devicons-uikit:before {
  content: "";
}

.devicons-doctrine:before {
  content: "";
}

.devicons-groovy:before {
  content: "";
}

.devicons-nginx:before {
  content: "";
}

.devicons-haskell:before {
  content: "";
}

.devicons-zend:before {
  content: "";
}

.devicons-gnu:before {
  content: "";
}

.devicons-yeoman:before {
  content: "";
}

.devicons-heroku:before {
  content: "";
}

.devicons-debian:before {
  content: "";
}

.devicons-travis:before {
  content: "";
}

.devicons-dotnet:before {
  content: "";
}

.devicons-codeigniter:before {
  content: "";
}

.devicons-javascript_badge:before {
  content: "";
}

.devicons-yii:before {
  content: "";
}

.devicons-msql_server:before {
  content: "";
}

.devicons-composer:before {
  content: "";
}

.devicons-krakenjs_badge:before {
  content: "";
}

.devicons-krakenjs:before {
  content: "";
}

.devicons-mozilla:before {
  content: "";
}

.devicons-firebase:before {
  content: "";
}

.devicons-sizzlejs:before {
  content: "";
}

.devicons-creativecommons:before {
  content: "";
}

.devicons-creativecommons_badge:before {
  content: "";
}

.devicons-mitlicence:before {
  content: "";
}

.devicons-senchatouch:before {
  content: "";
}

.devicons-bugsense:before {
  content: "";
}

.devicons-extjs:before {
  content: "";
}

.devicons-mootools_badge:before {
  content: "";
}

.devicons-mootools:before {
  content: "";
}

.devicons-ruby_rough:before {
  content: "";
}

.devicons-komodo:before {
  content: "";
}

.devicons-coda:before {
  content: "";
}

.devicons-bintray:before {
  content: "";
}

.devicons-terminal:before {
  content: "";
}

.devicons-code:before {
  content: "";
}

.devicons-responsive:before {
  content: "";
}

.devicons-dart:before {
  content: "";
}

.devicons-aptana:before {
  content: "";
}

.devicons-mailchimp:before {
  content: "";
}

.devicons-netbeans:before {
  content: "";
}

.devicons-dreamweaver:before {
  content: "";
}

.devicons-brackets:before {
  content: "";
}

.devicons-eclipse:before {
  content: "";
}

.devicons-cloud9:before {
  content: "";
}

.devicons-scrum:before {
  content: "";
}

.devicons-prolog:before {
  content: "";
}

.devicons-terminal_badge:before {
  content: "";
}

.devicons-code_badge:before {
  content: "";
}

.devicons-mongodb:before {
  content: "";
}

.devicons-meteor:before {
  content: "";
}

.devicons-meteorfull:before {
  content: "";
}

.devicons-fsharp:before {
  content: "";
}

.devicons-rust:before {
  content: "";
}

.devicons-ionic:before {
  content: "";
}

.devicons-sublime:before {
  content: "";
}

.devicons-appcelerator:before {
  content: "";
}

.devicons-asterisk:before {
  content: "";
}

.devicons-aws:before {
  content: "";
}

.devicons-digital-ocean:before {
  content: "";
}

.devicons-dlang:before {
  content: "";
}

.devicons-docker:before {
  content: "";
}

.devicons-erlang:before {
  content: "";
}

.devicons-google-cloud-platform:before {
  content: "";
}

.devicons-grails:before {
  content: "";
}

.devicons-illustrator:before {
  content: "";
}

.devicons-intellij:before {
  content: "";
}

.devicons-materializecss:before {
  content: "";
}

.devicons-openshift:before {
  content: "";
}

.devicons-photoshop:before {
  content: "";
}

.devicons-rackspace:before {
  content: "";
}

.devicons-react:before {
  content: "";
}

.devicons-redhat:before {
  content: "";
}

.devicons-scriptcs:before {
  content: "";
}

.devicons-sqllite:before {
  content: "";
}

.devicons-vim:before {
  content: "";
}
